<!-- Affichage des détails d'une recette -->

<h2 class='recipe-details title'>{{@recipe.title}}</h2>

<div class="recipe-details notification">
    <p>{{@recipe.servings}} personnes</p>
    <p>
        <span class="icon-text" title="Temps total">
            <span class="icon">
                <MdIcon @icon="clock-outline" @size=1rem />
            </span>
            {{@recipe.totalTime}} minutes :
        </span>

        <span class="icon-text" title="Temps de préparation">
            <span class="icon">
                <MdIcon @icon="silverware" @size=1rem />
            </span>
            {{@recipe.preparationTime}} minutes -
        </span>

        <span class="icon-text" title="Temps de cuisson">
            <span class="icon">
                <MdIcon @icon="stove" @size=1rem />
            </span>
            {{@recipe.cookingTime}} minutes
        </span>
    </p>
    {{#if @recipe.source}}
    <p>Source : {{{this.source}}}</p>
    {{/if}}
</div>

<div class="content">
    <p>
        Ingrédients :
        <ul>
            {{#each @recipe.ingredients as |ingredient|}}
            <li class="recipe-details ingredient">
                {{ingredient.name}}
                {{#if ingredient.amount}} :
                <span class="gray">
                    {{ingredient.amount}}
                    {{if ingredient.unit ingredient.unit}}
                </span>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </p>
</div>

<div class="field is-grouped">
    <p class="control">
        <LinkTo @route="edit-recipe" @model={{@recipe}} @class="recipe-details button is-dark is-outlined">Editer
        </LinkTo>
    </p>
    <p class="control">
        <a href="#" class="recipe-details button is-danger is-outlined" {{on "click" (fn this.deleteRecipe
            @recipe)}}>Supprimer</a>
    </p>
</div>