<!-- Affichage des détails d'une recette -->

<h2 class='recipe-details title'>{{@recipe.title}}</h2>

<div class="recipe-details sidebar">
    <p>{{@recipe.servings}} personnes</p>
    <p class="recipe-details times"><MdIcon @icon="clock-outline" @size=18 @title="Temps total" /> {{@recipe.totalTime}} minutes : <MdIcon @icon="silverware" @size=18 @title="Temps de préparation" /> {{@recipe.preparationTime}} minutes - <MdIcon @icon="stove" @size=18 @title="Temps de cuisson" /> {{@recipe.cookingTime}} minutes</p>
    {{#if @recipe.source}}
    <p>Source : {{{this.source}}}</p>
    {{/if}}
</div>

<p class="details ingredients">
    Ingrédients :
    <ul>
        {{#each @recipe.ingredients as |ingredient|}}
            <li class="details ingredient">
                {{ingredient.name}} {{#if ingredient.amount}} : {{ingredient.amount}}{{/if}} {{if ingredient.unit ingredient.unit}}
            </li>
        {{/each}}
    </ul>
</p>

<LinkTo @route="edit-recipe" @model={{@recipe}} @class="recipe-details button">Editer</LinkTo>
<a href="#" class="recipe-details button" {{on "click" (fn this.deleteRecipe @recipe)}}>Supprimer</a>