<!-- Affichage des détails d'une recette -->

<h2 class='details title'>{{@recipe.title}}</h2>

<div class="details sidebar">
    <p class="details servings">{{@recipe.servings}} personnes</p>
    <p class="details times"><MdIcon @icon="clock-outline" @size=18 @title="Temps total" /> {{@recipe.totalTime}} minutes : <MdIcon @icon="silverware" @size=18 @title="Temps de préparation" /> {{@recipe.preparationTime}} minutes - <MdIcon @icon="stove" @size=18 @title="Temps de cuisson" /> {{@recipe.cookingTime}} minutes</p>
    <p class="details source">
        Source : {{{this.source}}}
    </p>
</div>

<p class="details ingredients">
    Ingrédients :
    <ul>
        {{#each @recipe.ingredients as |ingredient|}}
            <li class="details ingredient">
                {{ingredient.name}} {{#if ingredient.amount}} : {{ingredient.amount}}{{/if}} {{if ingredient.unit ingredient.unit}}
            </li>
        {{/each}}
    </ul>
</p>