<form class="recipe-form">
    <div class="fields">
        <label for="title">Titre : </label><Input @type="text" @value={{this.title}} id="title" />
        <label for="hot">Plat chaud : </label><Input @type="checkbox" @checked={{this.hot}} id="hot" />
        <label for="dessert">Dessert : </label><Input @type="checkbox" @checked={{this.dessert}} id="dessert" />
        <label for="servings">Pour : </label><span><Input @type="number" @value={{this.servings}} min="1" id="servings" /> personne(s)</span>
        <label for="preparationTime">Préparation : </label><span><Input @type="number" @value={{this.preparationTime}} min="1" id="preparationTime" /> minute(s)</span>
        <label for="cookingTime">Cuisson : </label><span><Input @type="number" @value={{this.cookingTime}} min="0" id="cookingTime" /> minute(s)</span>
        <label for="source">Source : </label><Input @type="text" @value={{this.source}} id="source" />

        <label>Ingredients :</label>
        <div id="ingredient-lines">
            {{#each this.ingredients as |ingredient index|}}
                <Recipe::IngredientLine 
                    @name={{ingredient.name}}
                    @amount={{ingredient.amount}} 
                    @unit={{ingredient.unit}} 
                    @index={{index}}
                    @onAdd={{this.addIngredient}}
                    @onRemove={{this.removeIngredient}}
                />
            {{/each}}

            <button type="button" {{on "click" (fn this.addIngredient)}} id="add-ingredient">Ajouter un ingrédient</button>
        </div>
    </div>
    
    <div id="cancel-validate">
        <button type="button" {{on "click" (fn this.cancel)}}>Annuler</button>
        <button type="button" {{on "click" (fn this.save)}}>Valider</button>
    </div>
</form>