<div class="field has-addons">
    <div class="control is-expanded">
    <Input @type="text" class="input" @value={{@ingredient.name}} title="Nom" id="name" />
    </div>
    <div class="control">
    <Input @type="number" class="input" min=1 @value={{@ingredient.amount}} placeholder="Quantité" title="Quantité" id="amount" />
    </div>
    <div class="control select">
    <NativeSelectBox class="select" @value={{@ingredient.unit}} @onSelect={{this.updateUnit}} as |sb|>
        <sb.Option>Pas d'unité</sb.Option>
        <sb.Option @value="GRAMS">Grammes</sb.Option>
        <sb.Option @value="CENTILITRES">Centilitres</sb.Option>
        <sb.Option @value="TEASPOON">Cuillères à café</sb.Option>
        <sb.Option @value="TABLESPOON">Cuillères à soupe</sb.Option>
    </NativeSelectBox>
    </div>
    <div class="control">
    <a class="button rem-ingredient" {{on "click" (fn @onDelete @ingredient)}}>
        <MdIcon @icon="close-circle-outline" @size="1em" />
    </a>
    </div>
</div>